.App {
  text-align: center;
 
}

h1{
  font-size: 4vw;
  font-family: 'Times New Roman', Times, serif;
}

/* .app-div{
  display: flex;
  flex-direction: column;
  border: solid;
  position: absolute;
} */
